.spinnerWrapper, .spinnerWrapper * {
    box-sizing: border-box;
}

.spinnerWrapper {
    width: 100px;
    height: 30px;
    border: 1px solid #9e9e9e;
    border-radius: 2px;
}
.decrement, .increment {
    width: 30px;
    height: 28px;
    background-color: #eee;
    border-radius: 2px 0 0 2px;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
    user-select: none;
}
.decrement {
    border-right: 1px solid #9e9e9e;
}
.increment {
    border-left: 1px solid #9e9e9e;
}
.decrement.disabled, .increment.disabled {
    color: #9e9e9e;
    pointer-events: none;
}
.spinVal {
    display: inline-block;
    width: 38px;
    text-align: center;
    border: 0;
}
